.contentsCanvas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizQuestion {
    transform: translateY(-95%);
}

.quizSelectionContainer {
    margin: 0;
    transform: translateY(-15%);
}